<h2>Consent Form</h2>

		<% if @participant_old != nil %>

		<p>We are seeking individuals who have <b>not</b> completed our Twitter News Survey to participate in this study. </p>
		<p>Our records indicate that you have completed the Twitter News Survey previously. If this is an error, please contact <a href="mailto:garyhsieh@gmail.com">garyhsieh@gmail.com</a>. Thank you!</p>

		<% else %>

		<p>You have been invited to participate in this research study to help us examine Twitter Users' value orientations. </p><br>
		
		<p>In order to participate in this study, you must meet the following requirements:<br> 
		<ol>
			<li>Have a Twitter account</li>
			<li>Joined Twitter more than 4 weeks ago</li>
			<li>Submitted more than 100 Tweets</li>
		</ol></p><br>

		<p>If you agree to participate, you will be asked to click the link below to complete an online survey. Your participation would <b>take a couple of minutes</b>. You are free to withdraw your consent and to discontinue participation at any time. You must be <b>18 or older to participate</b>. In exchange for your participation, you will <b>receive $0.10</b>. This research study will not involve any cost for you.</p><br> 

		<p>Your privacy will be protected to the maximum extent allowable by law. Your answers are completely confidential and your name will not be linked to the data in any way. This survey is completely voluntary; you can stop at any time or not answer any questions that you are uncomfortable with.</p><br>

		<p>This research is being conducted through the Department of Communications at Michigan State University. If you have any questions or comments regarding this study, you can contact Professor Gary Hsieh, 517-355-9734 or garyhsieh@gmail.com</p><br>

		<p>If you have any questions or concerns about your role and rights as a research participant, or would like to register a complaint about this study, you may contact, anonymously if you wish, the MSU’s Human Research Protection Program, at 517-355-2180, Fax 517-432-4503, or e-mail irb@msu.edu or regular mail at 207 Olds Hall, MSU, East Lansing, MI 48824.</p><br>

		<br>

		<p><i>By continuing, you are agreeing to the above terms.</i></p><br>

		<hr>

		<%= render 'form' %>
		
		<% end %>







