<h1>Thank you</h1>
<br>
<h3>We are submitting your HIT right now...</h3>


<script type="text/javascript">
	window.location = 'https://www.mturk.com/mturk/externalSubmit?assignmentId=<%=@participant.assignment_id.to_s%>&cond=1'
</script>


