<h2>Instructions</h2>

<p>In the next section, you are presented with a series of 2 articles. Imagine these are articles shared with you via your social network streams, e.g., Twitter.</p>	

<p>Look over the title of the articles and decide if they are something you would be interested in reading. Then read the articles and tell us what you think about them.</p>	

<p>Note: these are articles from <a href="http://lifehacker.com/" target="blank">LifeHacker</a> that have been shared on Twitter in the past. LifeHacker is a popular internet blog about life hacks (tricks, skills or methods that solves an everyday problem in a clever or non-obvious way).</p>


	
	<br>

<%= link_to 'Rate Articles', new_participant_article_rating_path, :class => 'btn btn-primary'  %>
