<%= simple_form_for(@twitter_check) do |f| %>
  <%= f.error_notification %>

  <div class="actions">
	  <%= link_to "Check Qualification", "/auth/twitter?participant_id="+@participant.id.to_s, :class => 'btn btn-primary'  %>
  </div>

<% end %>
