<%= simple_form_for(@twitter_check) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field "participant_id", :value => @participant.id %>

  <div class="actions">
    <br><%= f.submit "Continue" , :class => 'btn btn-primary'  %>
  </div>

<% end %>
