<h2>Checking Participation Qualification</h2>

<p>You will be asked a series of questions about yourself. You will then be asked to assess some articles that you may see on Twitter.</p>

<%= render 'form' %>

