<h2>Participation Qualification</h2>

<p>In order to participate in this study, you must meet the following requirements:</p> 
<ol>
	<li>Have a Twitter account</li>
	<li>You have to have joined Twitter more than 4 weeks ago</li>
	<li>You have to have submitted more than 10 Tweets</li>
</ol>

<p>If you want to try logging in again to check your qualifications, please click on the button below. Otherwise, you may return the HIT.</p> 

<div class="actions">
	  <%= link_to "Check Qualification", "/auth/twitter?participant_id="+@participant.id.to_s, :class => 'btn btn-primary'  %>
</div>