<h1>Thank You</h1>

<br><br><br>
<p>Your Code is &nbsp;&nbsp;<b style="font-size:40px;color:red"><%=@participant.id+2103%></b></p>
<p>To complete the HIT, you *MUST* return to the Mechanical Turk Page and enter in the above code. 
